//
// slider with progressbar
// --------------------------------------------------

.b_ct_sliderWithProgressbar {
	position: relative;
	height: 100vh;
	width: 100%;
	display: block;
	color: #fff;

	.b_item {
		background-size: cover;
		background-repeat: no-repeat;
		height: 100vh;
	}

	.b_ct_preview {
		position: absolute;
		bottom: 25%;
		width: 100%;
		.b_previewList {
			width: 500px;
			display: block;
			margin: 0 auto;
		}
	}
}

.progress-bar {
	.transition-duration(50ms);
}